
<h1>Editar Empleado</h1>
<hr>
<form [formGroup] ="forma"  novalidate="novalidate" (ngSubmit)="guardar()">     
    <div class="row">
        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">DPI</label>
                <input  type="number" class="form-control" placeholder="dpi" formControlName="DPI" 
                [ngClass]="{'is-invalid':
                (forma.get('DPI').errors?.required) && (forma.get('DPI').touched ===true) }" >
                <div  *ngIf="forma.get('DPI').errors?.required && (forma.get('DPI').touched ===true)"  
                class="form-control-feedback text-danger">
                  El DPI es necesario
                </div>
                <div  *ngIf="!!forma.get('DPI').errors?.maxlength && (forma.get('DPI').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('DPI').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('DPI').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Primer Nombre</label>
                <input  type="text" class="form-control" placeholder="Primer nombre" formControlName="PRIMER_NOMBRE"
                [ngClass]="{'is-invalid':
                (forma.get('PRIMER_NOMBRE').errors?.required) && (forma.get('PRIMER_NOMBRE').touched ===true) }" >
                <div  *ngIf="forma.get('PRIMER_NOMBRE').errors?.required && (forma.get('PRIMER_NOMBRE').touched ===true)"  
                class="form-control-feedback text-danger">
                  El primer nombre es necesario
                </div>
                <div  *ngIf="!!forma.get('PRIMER_NOMBRE').errors?.maxlength && (forma.get('PRIMER_NOMBRE').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('PRIMER_NOMBRE').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('PRIMER_NOMBRE').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Segundo Nombre</label>
                <input  type="text" class="form-control" placeholder="Segundo nombre" formControlName="SEGUNDO_NOMBRE"
                [ngClass]="{'is-invalid':
                (forma.get('SEGUNDO_NOMBRE').errors?.required) && (forma.get('SEGUNDO_NOMBRE').touched ===true) }" >
                <div  *ngIf="forma.get('SEGUNDO_NOMBRE').errors?.required && (forma.get('DPI').touched ===true)"  
                class="form-control-feedback text-danger">
                  El segundo nombre es necesario
                </div>
                <div  *ngIf="!!forma.get('SEGUNDO_NOMBRE').errors?.maxlength && (forma.get('SEGUNDO_NOMBRE').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('SEGUNDO_NOMBRE').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('SEGUNDO_NOMBRE').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Primer Apellido</label>
                <input  type="text" class="form-control" placeholder="Primer apellido" formControlName="PRIMER_APELLIDO"
                [ngClass]="{'is-invalid':
                (forma.get('PRIMER_APELLIDO').errors?.required) && (forma.get('PRIMER_APELLIDO').touched ===true) }" >
                <div  *ngIf="forma.get('PRIMER_APELLIDO').errors?.required && (forma.get('PRIMER_APELLIDO').touched ===true)"  
                class="form-control-feedback text-danger">
                  El primer apellido es necesario
                </div>
                <div  *ngIf="!!forma.get('PRIMER_APELLIDO').errors?.maxlength && (forma.get('PRIMER_APELLIDO').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('PRIMER_APELLIDO').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('PRIMER_APELLIDO').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Segundo Apellido</label>
                <input  type="text" class="form-control" placeholder="Segundo apellido" formControlName="SEGUNDO_APELLIDO"
                [ngClass]="{'is-invalid':
                (forma.get('SEGUNDO_APELLIDO').errors?.required) && (forma.get('SEGUNDO_APELLIDO').touched ===true) }" >
                <div  *ngIf="forma.get('SEGUNDO_APELLIDO').errors?.required && (forma.get('SEGUNDO_APELLIDO').touched ===true)"  
                class="form-control-feedback text-danger">
                  El segundo apellido es necesario
                </div>
                <div  *ngIf="!!forma.get('SEGUNDO_APELLIDO').errors?.maxlength && (forma.get('SEGUNDO_APELLIDO').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('SEGUNDO_APELLIDO').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('SEGUNDO_APELLIDO').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Apellido Casada</label>
                <input  type="text" class="form-control" placeholder="Apellido Casada" formControlName="APELLIDO_CASADA"
                [ngClass]="{'is-invalid':
                (forma.get('APELLIDO_CASADA').errors?.required) && (forma.get('APELLIDO_CASADA').touched ===true) }" >
                <div  *ngIf="forma.get('APELLIDO_CASADA').errors?.required && (forma.get('APELLIDO_CASADA').touched ===true)"  
                class="form-control-feedback text-danger">
                  Apellido de casada es necesario
                </div>
                <div  *ngIf="!!forma.get('APELLIDO_CASADA').errors?.maxlength && (forma.get('APELLIDO_CASADA').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('APELLIDO_CASADA').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('APELLIDO_CASADA').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Estado Civil</label>
                <ngx-select formControlName="ESTADO_CIVIL"
                [allowClear]="true"
                [defaultValue]=""
                [items]="dataEstadoCivil" 
                optionValueField="ID" 
                optionTextField="DESCRIPCION"
                placeholder="Seleccione estado civil" > 
                </ngx-select>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Sexo</label>
                <ngx-select formControlName="SEXO"
                [allowClear]="true"
                [defaultValue]=""
                [items]="dataSexo" 
                optionValueField="ID" 
                optionTextField="DESCRIPCION"
                placeholder="Seleccione estado civil" > 
                </ngx-select>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Nit</label>
                <input  type="text" class="form-control" placeholder="nit" formControlName="NIT"
                [ngClass]="{'is-invalid':
                (forma.get('NIT').errors?.required) && (forma.get('NIT').touched ===true) }" >
                <div  *ngIf="forma.get('NIT').errors?.required && (forma.get('NIT').touched ===true)"  
                class="form-control-feedback text-danger">
                  El NIT es necesario
                </div>
                <div  *ngIf="!!forma.get('NIT').errors?.maxlength && (forma.get('NIT').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('NIT').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('NIT').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Afiliación IGSS</label>
                <input  type="text" class="form-control" placeholder="Afiliación IGSS" formControlName="AFILIACION_IGSS"
                [ngClass]="{'is-invalid':
                (forma.get('AFILIACION_IGSS').errors?.required) && (forma.get('AFILIACION_IGSS').touched ===true) }" >
                <div  *ngIf="forma.get('AFILIACION_IGSS').errors?.required && (forma.get('AFILIACION_IGSS').touched ===true)"  
                class="form-control-feedback text-danger">
                  El Afiliación IGSS es necesario
                </div>
                <div  *ngIf="!!forma.get('AFILIACION_IGSS').errors?.maxlength && (forma.get('AFILIACION_IGSS').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('AFILIACION_IGSS').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('AFILIACION_IGSS').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">Pasaporte</label>
                <input  type="text" class="form-control" placeholder="Pasaporte" formControlName="PASAPORTE"
                [ngClass]="{'is-invalid':
                (forma.get('PASAPORTE').errors?.required) && (forma.get('PASAPORTE').touched ===true) }" >
                <div  *ngIf="forma.get('PASAPORTE').errors?.required && (forma.get('PASAPORTE').touched ===true)"  
                class="form-control-feedback text-danger">
                  El no. PASAPORTE es necesario
                </div>
                <div  *ngIf="!!forma.get('PASAPORTE').errors?.maxlength && (forma.get('PASAPORTE').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('PASAPORTE').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('PASAPORTE').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>


        <div class="col-6">
            <div class="form-group" >
                <label class="control-label mb-1">IRTRA</label>
                <input  type="text" class="form-control" placeholder="Irtra" formControlName="IRTRA"
                [ngClass]="{'is-invalid':
                (forma.get('IRTRA').errors?.required) && (forma.get('IRTRA').touched ===true) }" >
                <div  *ngIf="forma.get('IRTRA').errors?.required && (forma.get('IRTRA').touched ===true)"  
                class="form-control-feedback text-danger">
                  El no. IRTRA es necesario
                </div>
                <div  *ngIf="!!forma.get('IRTRA').errors?.maxlength && (forma.get('IRTRA').touched ===true)"  
                  class="form-control-feedback text-danger">
                  Máximo de caracteres de <strong>{{forma.get('IRTRA').errors?.maxlength.requiredLength}}</strong>
                  caracteres actuales <strong>{{forma.get('IRTRA').errors?.maxlength.actualLength}}</strong>
                  </div>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-block">            
            <span >Guardar</span>                                
        </button>
    </div>

</form> 