<div class="p-4">
    <button class="btn btn-primary">
        Nuevo Empleado
    </button>
  </div>

<table class="table">
    <thead>
      <tr>
        
        <th scope="col">DPI</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of dataEmpleados" >    
        <th>{{empleado.DPI}}</th>
        <td>{{empleado.PRIMER_NOMBRE}}</td>
        <td>{{empleado.PRIMER_APELLIDO}}</td>
        <td>
          <button>
            Sueldos
          </button>
          <button>
            Direccion
          </button>
          <button>
            Informacion
          </button>
          <i class="bi bi-backspace"></i>
        </td>
        
      </tr>
      
    </tbody>
  </table>