<div class="p-4">
    <button class="btn btn-primary" (click)="nuevoEmpleado()" >
        Nuevo Empleado
    </button>
  </div>

<table class="table">
    <thead>
      <tr>
        
        <th scope="col">DPI</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellido</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of dataEmpleados" >    
        <th>{{empleado.DPI}}</th>
        <td>{{empleado.PRIMER_NOMBRE}}</td>
        <td>{{empleado.PRIMER_APELLIDO}}</td>
        <td>
          <button class="bi bi-currency-dollar"  title="Sueldos"  (click)="sueldos(empleado)" ></button>
          <button class="bi bi-building"  title="Dirección" (click)="direccion(empleado)"></button>
          <button class="bi bi-pencil-square"  title="Editar" (click)="editar(empleado)" ></button>
          
        </td>
        
      </tr>
      
    </tbody>
  </table>